@import '../../theme/variable.scss';
:local(.register) {
    
    .content {
        color: $contentColor;
    }
}

:local(.model), :local(.myStore), :local(.uiUserPage) {
    .sub-title {
        color: $contentColor;
        font-weight: 600;
    }
    .content {
        color: $contentColor;
    }
}

:local(.matchArrow){
    width: 1px;
    height: 100px;
    border: #ddd dashed 1px;
    margin: auto;
    position: relative;

    &:before,
    &:after {
        bottom: -15px;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    &:after {
        border-color: rgba(136, 183, 213, 0);
        border-top-color: #ddd;
        border-width: 10px;
        margin-left: -10px;
    } 
}
