@import '../../theme/variable.scss';
:local(.header) {
    padding: 15px 15px;
    box-shadow: 0 5px 5px -5px rgba(0,0,0,.075);

    :local(.link) {
        color: #ddd;

        &.active, &:hover {
            color: #4a4a4a
        }
    }

    .logo-text {
        color: $primaryColor;
        font-weight: bold;
        text-decoration: none;
    }

    .phone {
        color: $primaryColor !important;
        font-weight: bold;
    }
}