@import '../../theme/variable.scss';

:local(.text-field) {
    input[type=text] {
        border-color: $primaryColor;
        background: transparent;
        border-radius: 0;
        outline: 0;
        box-shadow: none;
        border: none;
        border-bottom: 1px solid;
        padding-left: 0;

        &::placeholder {
            font-size: 0.8em;
        }

        &:focus {
            box-shadow: 0 1px 0 0 $primaryColor;
            border-bottom: 2px solid $primaryColor;
        }
    }
}

:local(.select) {

    select {
        appearance: none;
        border-color: $primaryColor;
        background: transparent;
        border-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        outline: 0;
        box-shadow: none;
        border: none;
        padding-left: 0;
        border-bottom: 1px solid;

        &:focus {
            background: transparent;            
            box-shadow: none;
            border: none;
            outline: 0;
            border-bottom: 2px solid $primaryColor;
        }
    }
}