@import './theme/variable.scss';

.btn {
    height: $btnPrimaryHeight;
}
.btn-register {
    color: #fff;
    background-color: $primaryColor;
    border-color: $primaryColor;
    text-transform: uppercase;
}

.btn-info {
    color: #fff;
    background-color: $primaryColor;
    border-color: $primaryColor;
    text-transform: uppercase;
}

.btn-outline-info {
    &:hover {
        color: #fff;
        background-color: $primaryColor;
        border-color: $primaryColor;
    }
}

.btn-bolder {
    font-weight: bold;
    border-width: 2px;
    padding-left: 30px;
    padding-right: 30px;
    word-spacing: 3px;
    letter-spacing: 1px;
}

.text-primary-ecoe {
    color: $primaryColor;
}