@import '../../theme/variable.scss';
:local(.planning) {
    color: inherit;

    .description {
        font-size: 1.3em;
    }

    .upload-wrap {
        background-color: $secondaryColor;
    }

    .upload {
        padding: 15px;
        border: 2px dashed $primaryColor;
        color: $primaryColor;
    }
    
}